.fit{
    height: 100vh;
}
.set{
    width: 40%;
    margin-left: 30%;

}
#title{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;  
    text-align: center;
    padding: 20px;

}

.set label{
    margin :10px;
  margin-top: 60px;
  font-weight: bolder;
  font-size: 30px;
}
#submit{
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.set input{
    width: 60%;
}
.sign{
    margin-top: 30px;
    /* padding-top: 20px; */
    font-weight: bolder;
  font-size: 30px;
  text-align: center;
  margin-left: -3px;

}