.title{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
.margin{
    margin:10px; 
}
.size{
    font-size: 20px;
}
.center{
    margin:20px;
    margin-left: 24%;
}
.size li{
    padding: 12px;
}